---
title: Index Page
---
extends layouts/_layout
block content
  include partials/home/_intro
  .bg-white
    include partials/home/_advantages
    include partials/home/_offer
  include partials/home/_choose
  include partials/home/_masonry
  include partials/home/_popular
  include partials/home/_test
  include partials/home/_reviews
  include partials/home/_acquainted
  include partials/home/_tutorials
  include partials/home/_recommended
  include partials/home/_instagram
  
  

  

