---
title: Product Card Page
---
extends layouts/_layout
block content
    include partials/product-card/_product
    include partials/product-card/_recommended
    include partials/product-card/_description
    include partials/product-card/_videos
    include partials/product-card/_rating
    include partials/product-card/_reviews
    include partials/product-card/_choose




