mixin choose_pen(img, active)
    li
        a(href="#", class=active).overflow-hidden.block.relative.duration-500
            img(src=img, alt="")

mixin choose_list(img, title, desc)
    li.relative.flex.items-center.py-4
        img(src=img, alt="")
        div.chooseType.pl-5
            a(href="#").font-bold.text-base.text-lg= title
            p.font-normal.text-lg= desc
//- BEGIN chooseProduct
section.chooseProduct.relative.pt-2.bg-blueChoose
    div(class="md:block").hidden.chooseProduct__decor.absolute.z-0.left-0
        img(src="img/bg/decor-masonry.svg", alt="")

    .container.relative.z-1
        div(class="sm:px-0 px-5 sm:.justify-between").flex.flex-wrap.justify-center
            div(class="sm:w-3/12 w-full")
                div(class="md:items-start").py-20.flex.flex-col.items-center
                    h2.font-mono.font-bold.text-90px.uppercase.leading-none 3 size and 30 colors
                    a(class="w-1/2 sm:w-2/3").flex.justify-center.bg-black.text-white.text-lg.font-noto.py-3.font-button.uppercase.mt-12 Shop now
            div(class="sm:w-4/12 w-full").flex.items-center
                .choose__img.relative
                    img(src="img/choose/choose-1.png", alt="")
            div(class="sm:w-4/12 w-full flex flex-col items-center sm:items-end")
                .subtitle.py-8.pr-16
                    h3.text-15px.font-bold Choose your Tip
                ul.tipList
                    +choose_list("img/choose/tip/extra.png", "Extra Fine Tip", "0.7-1 mm")
                    +choose_list("img/choose/tip/fine.png", "Fine Tip", "0.7-1 mm")
                    +choose_list("img/choose/tip/medium.png", "Medium Tip", "0.7-1 mm")
                    +choose_list("img/choose/tip/eraser.png", "Eraser")
        .choosePen
            .container
                ul.choose__pen.flex.justify-center.relative
                    +choose_pen('img/choose/choosePen/choosePen-01.png')
                    +choose_pen('img/choose/choosePen/choosePen-01.png')
                    +choose_pen('img/choose/choosePen/choosePen-01.png')
                    +choose_pen('img/choose/choosePen/choosePen-01.png')
                    +choose_pen('img/choose/choosePen/choosePen-01.png', 'active')
                    +choose_pen('img/choose/choosePen/choosePen-01.png')
                    +choose_pen('img/choose/choosePen/choosePen-01.png')
                    +choose_pen('img/choose/choosePen/choosePen-01.png')
                    +choose_pen('img/choose/choosePen/choosePen-01.png')
                    +choose_pen('img/choose/choosePen/choosePen-01.png')


        //.flex.justify-between
            div(class="w-3/12")
                .py-20
                    h2.font-mono.font-bold.text-90px.uppercase.leading-none 3 size and 30 colors
                    a(class="w-2/3").flex.justify-center.bg-black.text-white.text-lg.font-noto.py-3.font-button.uppercase.mt-12 Shop now
            div(class="w-4/12")
                .choose__img.relative
                    img(src="img/choose/choose-1.png", alt="")
            div(class="w-4/12 flex flex-col items-end")
                .subtitle.py-8.pr-16
                    h3.text-15px.font-bold Choose your Tip
                ul.tipList
                    li.relative.flex.items-center.py-4
                        img(src="img/choose/tip/extra.png", alt="")
                        div.chooseType.pl-5
                            a(href="#").font-bold.text-base.text-lg Extra Fine Tip
                            p.font-normal.text-lg 0.7-1 mm
                    li.relative.flex.items-center.py-4
                        img(src="img/choose/tip/fine.png", alt="")
                        div.chooseType.pl-5
                            a(href="#").font-bold.text-base.text-lg Extra Fine Tip
                            p.font-normal.text-lg 0.7-1 mm
                    li.relative.flex.items-center.py-4
                        img(src="img/choose/tip/medium.png", alt="")
                        div.chooseType.pl-5
                            a(href="#").font-bold.text-base.text-lg Extra Fine Tip
                            p.font-normal.text-lg 0.7-1 mm
                    li.relative.flex.items-center.py-4
                        img(src="img/choose/tip/eraser.png", alt="")
                        div.chooseType.pl-5
                            a(href="#").font-bold.text-base.text-lg Eraser
        //.choosePen
            .container
                ul.choose__pen.flex.justify-center.relative
                    li
                        a(href="#").overflow-hidden.block.relative.duration-500
                            img(src="img/choose/choosePen/choosePen-01.png", alt="")
                    li
                        a(href="#").overflow-hidden.block.relative.duration-500
                            img(src="img/choose/choosePen/choosePen-01.png", alt="")
                    li
                        a(href="#").active.overflow-hidden.block.relative.duration-500
                            img(src="img/choose/choosePen/choosePen-01.png", alt="").active
                    li
                        a(href="#").overflow-hidden.block.relative.duration-500
                            img(src="img/choose/choosePen/choosePen-01.png", alt="")
                    li
                        a(href="#").overflow-hidden.block.relative.duration-500
                            img(src="img/choose/choosePen/choosePen-01.png", alt="")
                    li
                        a(href="#").overflow-hidden.block.relative.duration-500
                            img(src="img/choose/choosePen/choosePen-01.png", alt="")
                    li
                        a(href="#").overflow-hidden.block.relative.duration-500
                            img(src="img/choose/choosePen/choosePen-01.png", alt="")
                    li
                        a(href="#").overflow-hidden.block.relative.duration-500
                            img(src="img/choose/choosePen/choosePen-01.png", alt="")

//- END chooseProduct