//- BEGIN product
- var icons = ['star', 'star', 'star', 'star', 'star']
section.product.relative.py-10
    div(class="sm:px-0").container.relative.z-1.px-5
        .flex.flex-wrap-reverse
            div(class="w-full md:w-1/3")
                .swiper-container.product-slider.mb-2
                    p.product-slider__info.flex.items-center.text-sm.font-sans.text-aqua.absolute
                        +icon('eye','fill-current').pr-3
                        span.pl-2 189 other people are viewing this product now!
                    button.product-slider__magnifier.text-xl.text-gray.absolute
                        +icon('magnifier','fill-current')
                    .swiper-wrapper
                        .swiper-slide.flex.justify-center
                            .product-slider__img
                                img(src="img/product-card/product.png", alt="")
                        .swiper-slide
                            .product-slider__img
                                img(src="img/product-card/product.png", alt="")
                .swiper-container.product-slider-thumbs
                    .swiper-wrapper
                        .swiper-slide.border.border-solid.border-lightGraySecond
                            .product-slider__img-thumb
                                img(src="img/product-card/product.png", alt="")
                        .swiper-slide.border.border-solid.border-lightGraySecond
                            .product-slider__img-thumb
                                img(src="img/product-card/product.png", alt="")
                        .swiper-slide.border.border-solid.border-lightGraySecond
                            .product-slider__img-thumb
                                img(src="img/product-card/product.png", alt="")
                        .swiper-slide.border.border-solid.border-lightGraySecond
                            .product-slider__img-thumb
                                img(src="img/product-card/product.png", alt="")
                        .swiper-slide.border.border-solid.border-lightGraySecond
                            .product-slider__img-thumb
                                img(src="img/product-card/product.png", alt="")
                        .swiper-slide.border.border-solid.border-lightGraySecond
                            .product-slider__img-thumb
                                img(src="img/product-card/product.png", alt="")
            div(class="w-full md:w-2/3 md:mb-0 md:pl-8").pl-0.mb-6
                .flex.items-center.font-sans.font-medium.text-dull.text-base.flex-wrap
                    p.flex.items-center.pr-6
                        +icon('pen','fill-current text-dull')
                        span.pl-2 Medium Tip ( 2 mm )
                    ul.flex.justify-start.pr-2.text-base
                        each icon in icons
                            li.pr-1
                                span
                                    +icon(icon,'fill-current text-yellowIcon')
                    p.pr-6 266 rewievs
                    button.flex.items-center
                        +icon('heart')
                        span.pl-2 Wishlist
                h1.font-mono.text-black.text-7xl.font-bold.leading-none.py-2 30 Acrylic Paint Markers
                p.font-sans.text-black.text-lg.pb-3 For Rock Painting, Wood, Fabric, Paper, Ceramic & Glass and other surfaces
                hr.border-t-1.border-lightGray
                .flex.pt-3.flex-wrap
                    div(class="w-6/12 xl:w-4/12")
                        .radio.relative.mb-6
                            input(type="radio" class="radio__input" id="one-time" name="one-time")
                            label(for="one-time" class="radio__label").text-sans.text-tiny.text-black.whitespace-no-wrap <b> One-time purchase: </b></br>
                                span.pl-10 $35.99
                    div(class="w-6/12 xl:w-4/12")
                        .radio.relative.mb-6
                            input(type="radio" class="radio__input" id="subscribe" name="subscribe")
                            label(for="subscribe" class="radio__label").text-sans.text-tiny.text-black.whitespace-no-wrap <b> Subscribe & save (5%): </b></br>
                                span.pl-10 $31.34
                    div(class="w-3/12 xl:w-2/12").font-sans.text-xl.text-black
                        p.flex.items-center
                            +icon("fast-shipping", "fill-current text-lightOrange")
                            span.text-tiny.pl-2  <b> Free </b>
                        p.text-tiny.pl-8 fast shipping
                    div(class="w-3./12 xl:w-2/12").text-sans.text-2xl.text-black.flex.flex-col.items-end
                        p.flex.items-center
                            +icon("guarantee-simple", "fill-current text-lightOrange")
                            span.text-tiny.pl-2 <b> 365 days </b>
                        p.text-tiny.pl-6 guarantee
                p.font-sans.font-semibold.text-xs.uppercase.leading-snug.text-dull.mt-2 Best price:
                .flex.flex-wrap.items-center.justify-between
                    p(class=`
                    pr-4
                    font-sans
                    font-medium
                    lg:text-40px
                    text-28px
                    text-black
                    `) $35,99
                    p(class=`
                    pr-4
                    font-sans
                    font-thin
                    lg:text-28px
                    text-xl
                    line-through
                    text-graySecond
                    `) $45,99
                    div(class=`
                    flex
                    border
                    border-solid
                    border-lightGray
                    p-1
                    cart-item__btns
                    `)
                        button.px-4.border-r.border-solid.border-lightGray.text-gray.text-xxs.leading-none
                            +icon('minus', 'fill-current')
                        span.font-sans.font-bold.text-xl.leading-none.text-dull.px-5.py-4 1
                        button.px-4.border-l.border-solid.border-lightGray.is-active.leading-none
                            +icon('plus', 'fill-current')
                    button(class=`
                    flex items-center justify-center
                    bg-black
                    text-white text-tiny
                    py-5
                    xl:px-20
                    px-10
                    uppercase font-bold
                    duration-700 ease-in-out
                    cursor-pointer`) Add to cart
                .flex.p-3.bg-lightRed.mt-4.justify-between
                    img(src="img/product-card/offer.png", alt="").pr-6.border-r.border-solid.border-darkGray.border-opacity-25
                    div(class="w-8/12")
                        p.font-sans.text-tiny.text-black.pl-2 Save 35% per marker, buy 50 acrylic markers
                    a(href="#").pl-5.border-l.border-solid.border-darkGray.border-opacity-25.underline Learn More
                .flex.bg-blueChoose.mt-4.p-3.justify-between
                    img(src="img/product-card/feed-kids.png", alt="").pr-8.border-r.border-solid.border-darkGray.border-opacity-25
                    div(class="w-8/12")
                        p.font-sans.text-tiny.text-black.pl-2 No kid hungry - each purchase contributes to feeding hungry kids
                    a(href="#").pl-5.border-l.border-solid.border-darkGray.border-opacity-25.underline Learn More
//- END product