//- BEGIN productRating
- var icons = ['star', 'star', 'star', 'star', 'star']
section.productRating.relative
    .productRating__decor.absolute.z-0
        img(src="../img/bg/decor-circle.svg", alt="")
    .bg-lightPink.py-12
        div(class="sm:px-0").container.px-5
            .flex.flex-wrap
                div(class="w-full md:w-1/2 md:pr-20").pr-0
                    div(class="w-10/12")
                        h2.font-mono.text-black.uppercase.text-90px.font-bold.leading-none What our customers say
                    img(src="../img/reviews-product/pulpito.png", alt="").my-8
                    .flex
                        div(class="w-1/2").pr-4
                            button.font-sans.text-black.text-tiny.font-bold.uppercase.border.border-solid.border-black.w-full.py-4 Ask a questions
                        div(class="w-1/2").pl-4
                            button.font-sans.text-black.text-tiny.font-bold.uppercase.border.border-solid.border-black.w-full.py-4  Write a review
                div(class="w-full md:w-1/2").flex.flex-col.justify-between
                    .flex.items-center.justify-between.mt-4
                        h3.font-sans.font-bold.uppercase.text-xl.text-black Customer Reviews
                        p.font-sans.uppercase.text-white.bg-green.px-2.text-xs 99%
                        p.font-sans.text-dull.text-tiny.pl-5 Reviewers would recommend this product!
                    .flex.items-center.justify-between.mb-3
                        p.font-sans.text-black.text-40px.font-bold 4,9
                        ul.flex.justify-start.text-40px
                            each icon in icons
                                li.px-1
                                    span
                                        +icon(icon,'fill-current text-orange')
                        p.font-sans.text-black.text-xl Based on 514 reviews
                    .rating
                        .flex.mb-3
                            div(class="w-2/12").bg-white.py-3.flex.items-center.justify-center
                                p.font-sans.text-black.text-xl.text-center.font-bold.pr-2 5
                                +icon('star','fill-current text-orange')
                            div(class="w-7/12").bg-yellowIcon.py-3.text-white.text-center.flex.items-center.justify-center
                                p.font-sans.text-xl 94%
                            div(class="w-1/12").bg-gray.py-3
                            div(class="w-2/12").bg-white.py-3.flex.items-center.justify-center
                                p.font-sans.text-black.text-xl.text-center 254
                        .flex.mb-3
                            div(class="w-2/12").bg-white.py-3.flex.items-center.justify-center
                                p.font-sans.text-black.text-xl.text-center.font-bold.pr-2 4
                                +icon('star','fill-current text-orange')
                            div(class="w-2/12").bg-yellowIcon.py-3.text-white.text-center.flex.items-center.justify-center
                                p.font-sans.text-xl 4%
                            div(class="w-6/12").bg-gray.py-3
                            div(class="w-2/12").bg-white.py-3.flex.items-center.justify-center
                                p.font-sans.text-black.text-xl.text-center 10
                        .flex.mb-3
                            div(class="w-2/12").bg-white.py-3.flex.items-center.justify-center
                                p.font-sans.text-black.text-xl.text-center.font-bold.pr-2 3
                                +icon('star','fill-current text-orange')
                            div(class="w-1/12").bg-yellowIcon.py-3.text-white.text-center.flex.items-center.justify-center
                                p.font-sans.text-xl.px-1 1%
                            div(class="w-7/12").bg-gray.py-3
                            div(class="w-2/12").bg-white.py-3.flex.items-center.justify-center
                                p.font-sans.text-black.text-xl.text-center 3
                        .flex.mb-3
                            div(class="w-2/12").bg-white.py-3.flex.items-center.justify-center
                                p.font-sans.text-black.text-xl.text-center.font-bold.pr-2 2
                                +icon('star','fill-current text-orange')
                            div(class="w-8/12").bg-gray.py-3.text-white.text-center.flex.items-center.justify-center
                                p.font-sans.text-xl 0%
                            div(class="w-2/12").bg-white.py-3.flex.items-center.justify-center
                                p.font-sans.text-black.text-xl.text-center 0
                        .flex.mb-3
                            div(class="w-2/12").bg-white.py-3.flex.items-center.justify-center
                                p.font-sans.text-black.text-xl.text-center.font-bold.pr-2 1
                                +icon('star','fill-current text-orange')
                            div(class="w-8/12").bg-gray.py-3.text-white.text-center.flex.items-center.justify-center
                                p.font-sans.text-xl 0%
                            div(class="w-2/12").bg-white.py-3.flex.items-center.justify-center
                                p.font-sans.text-black.text-xl.text-center 0
                    .goods
                        p.font-sans.text-black.text-xl.mb-3 Photo unpacking goods:
                        div.flex.flex-wrap.justify-between
                            img(src="../img/reviews-product/goods-1.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-2.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-3.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-4.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-5.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-6.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-7.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-8.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-1.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-2.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-3.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-4.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-5.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-6.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-7.png", alt="").goods__img.mb-2
                            img(src="../img/reviews-product/goods-8.png", alt="").goods__img.mb-2
//- END productRating