//- BEGIN recommendedProduct
- var icons = ['star', 'star', 'star', 'star', 'star']
mixin product_item
    .flex.justify-center
        .product__item.bg-white.delay-150
            .product__img
                img(src="img/popular/popular_products.png", alt="")
            .product__descr.relative.p-4
                div(class=`
                product__reviews
                flex justify-start items-center
                `)
                    ul.flex.justify-start
                        each icon in icons
                            li
                                span
                                    +icon(icon,'fill-current text-yellowIcon')
                    a(href="#" class=`

                    text-sm text-dull
                    font-normal
                    pl-3
                    underline
                    `) 266 rewievs
                h3.text-black.py-5.text-xl.font-semibold Trending Collars
                p.text-dull.text-base.py-2 15 Amazing colors, Sturdy tips, Smooth application
                .product_price
                    sapn.new.text-black.text-xl.font-bold.mr-6 $19,95
                    span.old.line-through.font-light.text-xl.text-dull $25,95
                div(class=`
                product_btn
                py-6
                duration-700 ease-in-out
                w-full
                bg-white
                absolute
                flex justify-center
                opacity-0`)
                    a(href="#" class=`
                    btn-white
                    flex items-center justify-center
                    bg-white
                    text-black text-sm
                    w-full
                    uppercase font-bold
                    duration-700 ease-in-out
                    cursor-pointer`) Add to cart

section.recommendedProducts.relative.bg-lightPink
    div(class="lg:block").hidden.recommendedProducts__decor__top.absolute.right-0.z-0
        img(src="img/bg/decor-cart.svg", alt="")
    div(class="sm:block").hidden.recommendedProducts__decor__bottom.absolute.left-0.z-0
        img(src="img/bg/decor-test.svg", alt="")
    div(class="sm:px-0").container.relative.z-1.px-5
        div(class=`
        swiper-container
        slider-popular
        relative
        `)
            div(class="w-2/3").py-16
                h2(class="xs:text-7xl").font-mono.font-bold.text-5xl.uppercase.leading-none People Who Viewed This Item Ultimately Bought
            div(class=`
            swiper-button
            button_position
            absolute
            flex p-4 items-center
            text-4xl
            `)
                span.button-next.p-4.duration-700.ease-in-out.cursor-pointer
                    +icon('arrow-left','fill-current')
                span.button-prev.p-4.duration-700.ease-in-out.cursor-pointer
                    +icon('arrow-right','fill-current')
            .swiper-wrapper
                .swiper-slide
                    +product_item
                .swiper-slide
                    +product_item
                .swiper-slide
                    +product_item
                .swiper-slide
                    +product_item
                .swiper-slide
                    +product_item
//- END recommendedProduct