//- BEGIN acquainted
section.acquainted.bg-lightPink.py-16.overflow-hidden.bg-no-repeat(style="background-image: url(img/acquainted/bg.png)")
    .flex.flex-wrap.justify-center.relative.items-center
        div(class="md:w-6/12 w-full")
            .relative
                .acquainted__img
                    img(src="img/acquainted/decor.png", alt="", class="mx-auto")
                .acquainted__play-btn.absolute.w-full.h-full.flex.justify-center.items-center.top-0.left-0
                    a(href="#").text-lg.text-white.uppercase.font-bold.flex.items-center View video
                        +icon('play','fill-current text-white text-6xl pl-3')
        div(class="md:w-6/12 w-10/12")
            div(class="lg:w-8/12 md:w-11/12 md:pl-16")
                .py-16
                    h2.text-7xl.font-mono.font-bold.leading-none.mb-5 Let's get<br> acquainted closer!
                .acquainted__descr
                    p.mb-5 I am Ellie Grin and here I’ve talked briefly about what I do.
                    p.mb-5 Art has attracted me since my childhood. Until today, I managed to try out a lot of things associated with drawing and decorating decorative details. it was the drawing of fabrics, products from polymer clay.
                    p.mb-10 But this cannot be compared with decorating glass products. Absolutely everything can be made bright and unique, adding to it a little saturated colors and a special meaning. Personalized glassware is especially popular because it is so nice to receive dishes with your name or with warm words for your heart!
                    a(href="#").uppercase.font-black.flex.py-4 View all product
                        +icon('arrow-more','fill-current text-black text-2xl pl-3')
//- END acquainted