//BEGIN advantages
section.advantages.relative.z-2
    .container
        .wrap.bg-white.-mt-4.relative.top-minus.pt-5.px-10
            ul(class="flex-wrap").advantages_list.flex.items-center.justify-center.py-3
                li(class="w-1/2 xs:w-1/3 lg:w-1/5").text-center.border-r.border-solid.border-lightGray.mb-3
                    span.data.text-black.text-35px.font-bold 500K+
                    p.text-xl.font-normal  customers orldwide
                li(class="w-1/2 xs:w-1/3 lg:w-1/5 xs:border-r xs:border-solid xs:border-lightGray").text-center.mb-3
                    span.data.text-black.text-35px.font-bold 10K+
                    p.text-xl.font-normal  reviews
                li(class="w-1/2 xs:w-1/3 lg:w-1/5 w-1/2 xs:border-none").text-center.border-r.border-solid.border-lightGray.mb-3
                    span.data.flex.items-center.justify-center.text-black.text-35px.font-bold
                         +icon('fb-f','fill-current text-blueIcon mr-4')
                         |90 K+
                    p.text-xl.font-normal  followers
                li(class="w-1/2 xs:w-1/3 lg:w-1/5 xs:border-r xs:border-solid xs:border-lightGray").text-center.mb-3
                    span.data.flex.items-center.justify-center.text-black.text-35px.font-bold
                         +icon('inst-f','fill-current text-pinkIcon mr-4')
                         |265 K+
                    p.text-xl.font-normal  followers
                li(class="w-1/2 xs:w-1/3 lg:w-1/5").text-center
                    span.data.flex.items-center.justify-center.text-black.text-35px.font-bold.mb-3
                         +icon('pint-f','fill-current text-yellowIcon mr-4')
                         |10 M+
                    p.text-xl.font-normal  monthly viewers

//END advantages