//BEGIN intro
section.intro.bg-lightPink.pb-20.overflow-hidden
    div(class="md:block xl:bottom-0", style="background-image: url(../img/bg/decor.svg)").hidden.intro__decor.absolute.bg-contain.bg-no-repeat.left-0
    .container.relative.z-1
        .flex.flex-wrap.items-center
            div(class="md:w-4/12 w-full px-3 md:px-0")
                .heading.pt-20.pb-4
                    h1.text-10xl.font-mono.font-bold.leading-128px Artistro markers
                .descr.pt-4.pb-12
                    p.text-2xl.font-semibold Get rich and opaque color with the first layer on any surface!
                a(href="#" class="btn") Shop now
            div(class="md:w-8/12 w-full")
                div(class="lg:flex lg:items-center").intro__img.relative
                    img(src="../img/billboard/billboard.png", alt="").absolute.object-contain
//END intro