//- BEGIN Recommended
section.recommended.relative
    div(class="md:block", style="background-image: url(img/bg/decor-recommended.svg)").hidden.recommended__decor.absolute.bg-cover.top-0.z-0
    .container.relative.z-1
        .flex.justify-center
            .heading.py-16
                h2.text-7xl.font-mono.font-bold.leading-none Recommended by
        .brands
            img(src="img/recommended/recommended-01.jpg", alt="")
//- END Recommended