//- BEGIN become
section.become.relative.overflow-hidden.bg-blueChoose
    div(class="md:block", style="background-image: url(img/bg/decor-tutorial.svg)").hidden.become__decor.absolute.bg-contain.bg-no-repeat.left-0.z-0
    div(class="sm:px-0").container.relative.z-1.px-5
        h2.my-10.font-mono.text-black.text-90px.leading-none.font-bold Become an Ambassador
        div(class="sm:flex-no-wrap").flex.flex-wrap.justify-between.font-sans.text-black
            div(class="w-1/2 sm:w-2/12 sm:pr-0").pr-3
                p.text-6xl.pb-3
                    +icon('18')
                p.text-black.text-base They should be older than 18 years old.
            div(class="w-1/2 sm:w-3/12 sm:pb-0").pb-3
                p.text-6xl.pb-3
                    +icon('earth')
                p.text-black.text-base They should be from one of these countries: the United States, the United Kingdom, Canada, Australia, Germany, France, Spain, Italy, or the Netherlands.
            div(class="w-1/2 sm:w-4/12 sm:pr-0").pr-3
                p.text-6xl.pb-3
                    +icon('communication')
                p.text-black.text-base They should know the social media tools and assist in content creating, therefore, they should have an established online presence (YouTube, Instagram, TikTok and etc) with a high engagement rate.

            div(class="w-1/2 sm:w-2/12")
                p.text-6xl.pb-3
                    +icon('teach')
                p.text-black.text-base They should have a large network and work/have a hobby in a sphere of art-creating/crafting.
        form.my-10
            p.text-sm.text-black.font-sans.pb-3 Choose your country
            div(class="sm:flex-no-wrap").flex.flex-wrap
                div(class="w-1/2 sm:w-1/4 sm:pb-0").pr-2.pb-4
                    input(placeholder="Full Name").bg-white.w-full.p-4.shadow-medium
                div(class="w-1/2 sm:w-1/4 sm:px-2")
                    input(placeholder="Date of birth").bg-white.w-full.p-4.shadow-medium
                div(class="w-1/2 sm:w-1/4 sm:px-2").pr-2
                    input(placeholder="Email").bg-white.w-full.p-4.shadow-medium
                div(class="w-1/2 sm:w-1/4 sm:pl-2")
                    input(placeholder="Where do you live?").bg-white.w-full.p-4.shadow-medium
            textarea(placeholder="Links to your social media accounts IG, FB, Tik Tok, YouTube, Pinterest", rows="3").bg-white.w-full.p-4.shadow-medium.mt-4
            textarea(placeholder="How would you describe what you do as art?", rows="3").bg-white.w-full.p-4.shadow-medium.mt-4
            textarea(placeholder="Which art media do you use while creating?", rows="3").bg-white.w-full.p-4.shadow-medium.mt-4
            textarea(placeholder="Have you ever tried acrylic markers? If, yes, please specify the brand", rows="3").bg-white.w-full.p-4.shadow-medium.mt-4
            textarea(placeholder="Have you ever tried Artistro paint pens? If no, which ones would you like to try? ", rows="3").bg-white.w-full.p-4.shadow-medium.mt-4
            .flex.mt-4
                div(class="w-4/12").mr-8
                    button.flex.justify-center.bg-black.text-white.text-lg.font-sans.py-4.w-full.font-button.uppercase Submit
                div(class="w-8/12 sm:w-5/12").flex.items-center
                    p.font-sans.text-black.text-sm Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности
//- END become