//- BEGIN  meet

mixin meet_item(img)
    .meet__item.flex.flex-col
        img(src=img, alt="").my-6
        p.flex.items-center.text-black.font-sans.text-tiny
            +icon('insta')
            span.text-black.pl-2 @sweetpeachburns
        h2.font-sans.text-black.text-xl.my-3.font-bold “The best ambassador programm”
        p.text-dull.font-sans.text-base Alaina Dawson

section.meet.bg-lightPink.relative
    div(class="xl:block", style="background-image: url(img/bg/decor-cart.svg)").hidden.meet__decor.absolute.bg-contain.bg-no-repeat.z-0.right-0.z-0
    div(class="sm:px-0").container.py-12.relative.z-1.px-5
        h2.my-10.font-mono.text-black.text-90px.leading-none.font-bold Meet our Ambassadors
        div(class="xl:justify-between").flex.flex-wrap.justify-around
            +meet_item('img/ambassador/meet-item-1.png')
            +meet_item('img/ambassador/meet-item-2.png')
            +meet_item('img/ambassador/meet-item-3.png')
            +meet_item('img/ambassador/meet-item-4.png')
            +meet_item('img/ambassador/meet-item-1.png')
            +meet_item('img/ambassador/meet-item-2.png')
            +meet_item('img/ambassador/meet-item-3.png')
            +meet_item('img/ambassador/meet-item-4.png')
//- END meet