//- BEGIN  bannerClub
section.bannerClub.bg-lightPink.relative
    div(class="md:block", style="background-image: url(img/bg/decor-club.svg)").hidden.bannerClub__decor.absolute.bg-contain.bg-no-repeat.left-0.z-0
    div(class="sm:px-0").container.relative.z-1.px-5
        div(class="md:flex-no-wrap").flex.flex-wrap
            div(class="w-full md:w-5/12 md:items-start").flex.flex-col.items-center
                h1(class="xl:mt-32").mt-24.font-mono.text-black.text-120px.leading-none.font-bold Artistro Club
                p.font-sans.text-black.text-base.my-8 Join the Artistro Club and be rewarded 200 Art Coins
                div(class="w-8/12")
                    a(href="#").flex.justify-center.bg-black.text-white.text-lg.font-noto.py-5.font-button.uppercase.w-full Join now
            div(class="w-full md:w-6/12")
                div(class="lg:flex lg:items-center").bannerClub__img.relative
                    img(src="img/club/club-banner.png", alt="", class="md:pt-0").object-contain.absolute.top-0.pt-10
//- END bannerClub