//- BEGIN  coins
section.coins
    div(class="sm:px-0").container.relative.z-1.px-5
        div(class="sm:flex-no-wrap sm:justify-between").flex.justify-center.py-12.flex-wrap.items-stretch
            div(class="w-10/12 xs:w-7/12 sm:w-3/12 sm:mb-0").flex.flex-col.justify-between.mb-10
                div
                    h2.font-noto.text-black.text-2xl.font-bold.uppercase Ways to earn
                    p.font-sans.text-black.text-base.my-5 Follow, like, or share to earn even more Art Coins.It’s quick, easy, and a great value!
                    p.flex.items-center.font-sans.text-black.text-tiny.font-bold
                        +icon('share')
                        span.pl-2 Share on Facebook
                    p.font-sans.text-black.text-tiny.pl-5.pb-5 50 Art Coins
                    p.flex.items-center.font-sans.text-black.text-tiny.font-bold
                        +icon('like')
                        span.pl-2 Like on Facebook
                    p.font-sans.text-black.text-tiny.pl-5.pb-5 50 Art Coins
                    p.flex.items-center.font-sans.text-black.text-tiny.font-bold
                        +icon('insta')
                        span.pl-2 Follow on instagram
                    p.font-sans.text-black.text-tiny.pl-5.pb-5 50 Art Coins
                    p.flex.items-center.font-sans.text-black.text-tiny.font-bold
                        +icon('cart')
                        span.pl-2 Place an order
                    p.font-sans.text-black.text-tiny.pl-6.pb-5 50 Art Coins for every $1 spend

                button(class="w-full md:w-2/3").flex.justify-center.bg-black.text-white.text-lg.font-noto.py-5.font-button.uppercase Join now

            div(class="w-10/12 xs:w-7/12 sm:w-3/12 sm:mb-0").flex.flex-col.justify-between.mb-10
                div
                    h2.font-noto.text-black.text-2xl.font-bold.uppercase Ways to spend
                    p.font-sans.text-black.text-base.my-5 You earn points by purchasing art supplies: every dollar spent gains you Art Coins and rewards.
                    p.flex.items-center.font-sans.text-black.text-tiny.font-bold
                        +icon('coin')
                        span.pl-2 $5 off discount
                    p.font-sans.text-black.text-tiny.pl-8.pb-5 500 Art Coins
                    p.flex.items-center.font-sans.text-black.text-tiny.font-bold
                        +icon('coin')
                        span.pl-2 $5 off discount
                    p.font-sans.text-black.text-tiny.pl-8.pb-5 1000 Art Coins
                    p.flex.items-center.font-sans.text-black.text-tiny.font-bold
                        +icon('coin')
                        span.pl-2 $5 off discount
                    p.font-sans.text-black.text-tiny.pl-8.pb-5 1500 Art Coins

                    p.flex.items-center.font-sans.text-black.text-tiny.font-bold
                        +icon('coin')
                        span.pl-2 Order discount
                    p.font-sans.text-black.text-tiny.pl-8.pb-5 100 Art Coins = $1

                button(class="w-full md:w-2/3").flex.justify-center.bg-black.text-white.text-lg.font-noto.py-5.font-button.uppercase Join now

            div(class="w-10/12 xs:w-7/12 sm:w-3/12").flex.flex-col.justify-between
                div
                    h2.font-noto.text-black.text-2xl.font-bold.uppercase Referrals
                    p.font-sans.text-black.text-base.my-5 Refer our website and give a discount to your friend and get more Art Coins!
                    p.font-sans.text-black.text-base.my-5 Give your friends a rewards and claim your own then make a purchase.
                    p.flex.items-center.font-sans.text-black.text-tiny.font-bold
                        +icon('coin')
                        span.pl-2 They get
                    p.font-sans.text-black.text-tiny.pl-8.pb-5 $5 off discount
                    p.flex.items-center.font-sans.text-black.text-tiny.font-bold
                        +icon('coin')
                        span.pl-2 You get
                    p.font-sans.text-black.text-tiny.pl-8.pb-5 $5 off discount
                button(class="w-full md:w-2/3").flex.justify-center.bg-black.text-white.text-lg.font-noto.py-5.font-button.uppercase Join now
//- END coins