//- BEGIN  tutorial-page
- var icons = ['fb', 'insta', 'twitter', 'pinterest', 'youtube', 'tiktok']

section.tutorial-page.relative.overflow-hidden
    div(class="lg:block", style="background-image: url(img/bg/decor.svg)").tutorial__decor.absolute.bg-contain.bg-no-repeat.left-0.-z-1.hidden
    .container
        div(class="sm:px-0 sm:flex-no-wrap").flex.flex-wrap.my-10.px-5
            div(class="sm:w-2/3 w-full")
                p.font-noto.text-sm.text-black 07 JULY, 2020
                h1(class="sm:text-90px").font-mono.text-6xl.text-black.leading-none.font-bold.uppercase Easy guide 'How to draw' from Artistro!
                .flex.my-3
                    div(class="w-1/2")
                        p.font-noto.text-base.text-black
                            span.uppercase Tags:
                            b.pl-3 Plastic
                    div(class="w-1/2")
                        .flex.justify-end.items-center
                            p.font-noto.text-base.text-black
                                span.uppercase Share:
                            ul.flex
                                each icon in icons
                                    li.pl-6
                                        a(href="#")
                                            +icon(icon)
                .flex.flex-col.font-sans.text-base
                    img(src="img/tutorial/tutorial-1.png").w-full
                    p.my-4 Are you looking for unique DIY crafts? It is time to say goodbye to boring things from the store! With the Artistro markers, you can easily turn them into masterpieces!
                .flex
                    div(class="w-1/2")
                        img(src="img/tutorial/tutorial-2.png").w-full.pr-3
                    div(class="w-1/2")
                        img(src="img/tutorial/tutorial-3.png").w-full.pl-3
                p.my-6 You can’t imagine how many possibilities are offered by the most common permanent marker. It is affordable, interesting and diverse. In fact, you can transform anything, just look around: what do you want to change first in your surroundings? Does the old bookshelf require updating for a long time? Does the old white mug really express you now? Is a boring T-Shirt lying in an armchair? The lampshades on a lamp purchased a year ago have long been waiting in line to become something more than ordinary glass shades? Creative projects with the Artistro markers are a great chance to decorate life in the colors of joy and smile, do not neglect it!
                .flex.items-center
                    div(class="w-1/2")
                        p.pr-3 If you have already begun to look for excuses that such DIY crafts for home decor need a lot of time and beginners cannot do it, then right now we are ready to dispel such thoughts! Well, the question of time will have to be decided independently. And we will help with resources: we will show you 21 cool ideas that can be implemented thanks to the Artistro marker.
                    div(class="w-1/2")
                        img(src="img/tutorial/tutorial-4.png").w-full.pl-3
                .flex.items-center.my-6
                    div(class="w-1/2")
                        img(src="img/tutorial/tutorial-5.png").w-full.pr-3
                    div(class="w-1/2")
                        p.pl-3 Add Personality to Your Home! It should be the main idea of your adventure with a home decorating! It might sound a little crazy, but we’re here to tell you that lots of DIY paintings and abstract artwork isn’t as hard to make as you think. Actually, many of the projects we’re sharing here can be made in a weekend, an afternoon or even an hour! So, let’s do it!
                        p.pl-3 The devil is hiding in the details, do you agree?Taking the time to understand the basic principles of decorating, from choosing the right furniture to finding the perfect color palette, will get you one step closer to crafting the home you’ve always wanted.
            div(class="sm:w-1/3 xs:w-2/3 w-10/12 sm:ml-6 ").mx-auto
                h2.font-noto.text-3xl.text-black.leading-none.font-bold.uppercase.mt-12 Suggested Posts
                .tutorials__item.mt-6
                    .tutorials__img
                        img(src="img/tutorials/tutorials-03.jpg", alt="").w-full
                    .tutorials__descr.p-8.relative.shadow-normal
                        .data.font-noto.text-sm.text-black.font-normal.flex.justify-between.items-center.py-6
                            .data__time.flex.items-center.text-sm.font-normal
                                span.pr-2
                                    +icon('clock','fill-current')
                                span Time to read:
                                    b 5 min
                            .data__level.flex.items-center.text-sm.font-normal
                                span.pr-2
                                    +icon('round-star','fill-current')
                                span Level:
                                    b Easy
                        .tutorials__title.font-noto.text-2xl.text-black.font-bold.uppercase.py-1
                            h3 Easy guide 'How to draw' from Artistro!
                        .tutorials__guide.font-noto.flex.justify-between.items-center.py-4
                            span.font-button.text-base.text-grayThird Guide
                            a(href="#").flex.justify-between.items-center.font-button.text-2x.uppercase.font-bold Read now
                                span.pl-2
                                    +icon('arrow-more','fill-current')
                .sing-up.flex.flex-col.items-center.bg-violet.justify-between.relative.z-1.p-5.bg-no-repeat.bg-bottom.mt-6(style='background-image:url(img/tutorial/sing-up.png)')
                    h2.font-mono.font-bold.text-5xl.uppercase.leading-tight.text-white.my-4 Subscribe & Safe
                    button(class="w-40").flex.justify-center.bg-black.text-white.text-tiny.font-sans.py-4.font-button.uppercase Sign Up
//- END tutorial-page