.icon-18 {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 1.79em;
  height: 1em;
  fill: initial;
}
.icon-arrow-more {
  width: 1.25em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 1.79em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-big-inst {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-bluePen {
  width: 0.19em;
  height: 1em;
  fill: initial;
}
.icon-cart {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-coin {
  width: 1.44em;
  height: 1em;
  fill: initial;
}
.icon-communication {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dislike {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-earth {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-eye {
  width: 1.31em;
  height: 1em;
  fill: initial;
}
.icon-fast-shipping {
  width: 1.17em;
  height: 1em;
  fill: initial;
}
.icon-fb-f {
  width: 0.46em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.47em;
  height: 1em;
  fill: initial;
}
.icon-guarantee-simple {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-guarantee {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.17em;
  height: 1em;
  fill: initial;
}
.icon-inst-f {
  width: 0.93em;
  height: 1em;
  fill: initial;
}
.icon-insta {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-like {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-login {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-magnifier {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-minus {
  width: 5.5em;
  height: 1em;
  fill: initial;
}
.icon-pen {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-pint-f {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-pinterest {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-round-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-share {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-shipping {
  width: 1.93em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-teach {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.icon-tiktok {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1.27em;
  height: 1em;
  fill: initial;
}
.icon-usa {
  width: 1.82em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 2.44em;
  height: 1em;
  fill: initial;
}
